* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond',Verdana, Geneva, Tahoma, sans-serif;
    color: #034776;
}

html {
    scroll-behavior: smooth;
}

body {
    /*background-color: #5A9AC6;*/
    background-color: #E2E8FC ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    /*background-color: #BCE6F6;*/
    background-color: #DFDFDF;
    height: 10vh;
    width: 100vw;
    z-index: 99;
}

header links {
    flex-grow: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

header a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: #0B4973;
    font-size: 1.5vw;
    text-decoration: none;
}

header button {
    flex-grow: 0.2;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
}

headerswitch {
    height: 7vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

headerswitch hr {
    flex-grow: 1;
    margin: 4px 0 4px 0;
    /*argin-bottom: 1vh;*/
    border: none;
    background-color: #034776;
    border-radius: 5px;
}

#headerspacing {
    height: 10vh;
}

@media (max-width: 800px) {

    header {
        flex-direction: column;
    }

    header links {
        display: none;
        flex-direction: column;
    }

    header a {
        font-size: 3vw;
    }

    header button {
        display: flex;
    }
}

main {
    display: block;
    height: 90vh;
}

sectiontitle {
    display: flex;
    text-align: center;
    height: 10vh;
    justify-content: center;
    align-items: center;
}