projects {
    display: flex;
    height: 50vh;
    flex-direction: column;
}

projects sectiontitle {
    flex: 0.2;
}

projectsflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 0.8;
}

project {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #DFDFDF;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
    border-radius: 5px;
    padding: 0 2.5vw 0 2.5vw;
    box-sizing: border-box;
}

project h2 {
    flex: 0.3;
    font-size: 2.5vw;
}

project p {
    flex: 0.2;
    font-size: 2vw;
}

project h2, project a, project p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

project a {
    flex: 0.3;
    font-size: 3vw;
    text-transform: none;
    text-decoration: none;
    color: #0B4973;
}

project a:hover {
    font-size: 2.2vw;
}

@media (max-width: 800px) {

    projects {
        height: 90vh;
    }

    projectsflex {
        flex-direction: column;
    }

    project h2 {
        font-size: 3vw;
    }

    project a {
        font-size: 3vw;
    }

    project a:hover {
        font-size: 3.2vw;
    }
}