technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
}

technologies sectiontitle {
    width: 100vw;
}

technology {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
    width: 5vw;
    height: 5vw;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
    border-radius: 5px;
}

technology img {
    display: flex;
    max-height: 80%;
    max-width: 80%;
}

@media (max-width: 800px) {
    technologies {
        height: 90vh;
    }
    technology {
        width: 15vw;
        height: 15vw;
    }
}